*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: baloo;
}

#welcome{
    margin: 0;
    font-family: Tahoma;
    font-size: 90px;
    padding: 0%;
}

#im{
    display: inline;
}

#bg{
    width: 100%;
    height: 100%;
    /* opacity: 0.1; */
    filter:opacity(.7);
    background: url("tropical-beach-sand-summer-holiday-background-travel-vacation-free-space-text-product-placement-93404396.jpg");
    background-size: 100%;
    position:fixed;
    z-index: -3;
}

#home{
    font-weight: bolder;
    background: url("bg1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10% 0px 20% 0%;
    text-align: center;
    /* background-repeat: inherit; */
}

#myName{
    margin-left: 10px;
    font-size: 110px;
    margin-top: 0%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#intro1{
    color:#ffffff;
    font-size: 45px;
    text-align: center;
    display: inline-block;
}

#task{
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
}

#nav{
    background-color:  transparent;
    width: 100%;
    height: 10%;
    overflow: hidden;
    top: 0px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    padding: 0;
}

nav.scrolled{
    background-color:  rgb(0, 2, 63);
    width: 100%;
    height: 10%;
    overflow: hidden;
    top: 0px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    padding: 0;
    transition: .8s ease;
}

#about{
    padding-bottom: 3%;
    padding-left: 2%;
    background-color: rgba(3, 19, 72, .7);
    padding-top: 2%;
    margin: 7%;
    border-radius: 10px;
    max-height: 10%;
    /* padding: 10px; */
    /* position: absolute; */
    /* display: inline-block; */
}

#aboutDiv{
    display: inline-block;
    margin-top:2%;
}

#aboutDiv center{
    color: #fff;
}

#aboutDiv center i{
    margin-right: 5px;
}

#aboutMe{
    border-bottom-style: double ;
    margin-bottom: 5%;
}

#aboutDiv1{
    display: inline-block;
    margin-top: 10%;
    top: 0%;
    float: right;
    margin-right: 7%;
    text-align: center;
    width: 45%;
    height: 45%;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 12px 0;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.9);
    padding: 4%;
}

#intr{
    color: rgb(255, 255, 255);
    padding-top: 10%;
}

#intr #img{
    box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.9);
    margin-left: 7%;
    margin-bottom: 10px;
    border-radius: 8%;
    width: 350px;
    /* position: relative; */
    height: 350px;
    /* transform: translate(-50%, -50%); */
    /* border: 2px solid #fff; */
}

#img img{
    /* position: absolute; */
    /* border: 1px inset rgba(3, 19, 72)  ; */
    width:inherit;
    margin: auto;
    height: inherit;
    cursor: pointer;
    border-radius: inherit;
}

#name{
    font-size:40px;
    margin-left: 8%;
}
#navList{
    display: inline-flex;
    /* float: right; */
    padding-left: 15%;
    list-style: none;
    line-height: 10vh;
}

#profile{
    color: rgb(255, 255, 255);
    margin-left: 5%;
    display: inline-block;
    font-family: tahoma;
    margin-right: 40%;
}

#navList li{
    margin:0 5%;
}

#navList li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:Tahoma, sans-serif;
    transition: .7s ease;
}

.links:hover{
    font-size: 17px;
    border-bottom: 1px solid white;
}


#contactMe{
    width: 60px;
    height: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 30px 5px 30px;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 27%;
    margin-top: 10%;
    font-family: monospace;
    border-radius: 10px;
    letter-spacing: 2px;
    transition: .9s ease-in-out;
}

#contactMe:hover{
    background-color: #0e2160 ;
}

#skills{
    background :  rgba(255, 255, 255, 0.6);
    padding: 5% 0% 5% 7%;
    margin: 0% 1%;
    /* border:2px ridge rgba(3, 19, 72); */
    border-radius: 10px;
    background-size: 100%;
    text-align: center;
}

#skillWord{
    /* display: inline=; */
    width: 40%;
    float: left;
    color: rgba(1, 11, 43);
    padding: 2% 2% 2% 2%;
    /* font-weight: bolder; */
    font-size: 18px;
    /* padding-bottom: 500px; */
    text-align: center;
    /* height: 30vh; */
}

#SkillWordDiv{
    border-bottom: 2px solid rgb(0, 2, 63);
    font-size: 46px;
    font-family: monospace;
}

#skillsName{
    font-family: sans-serif;
    /* margin: 1.5%; */
    /* margin-left: 100%; */
    /* font-family: 'Times New Roman', Times, serif; */
    text-transform: uppercase;
    font-size: 16px;
}

#skillsName b{
    margin: 0px 0%;
    color: rgba(3, 19, 72);
    letter-spacing: 2px;
    font-family: monospace;
}

#progress{
    width: 270px;
    height: 18px;
    margin-bottom: 4%;
    color: rgba(3, 19, 72, .7);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

#percent{
    width: 100%;
    height: 100%;
    background: rgba(3, 19, 72);
    font-weight: lighter;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 18px;
    border-radius: 30px;
}

#SKILL{
    display: inline-block;
    /* margin-left: 76%; */
    margin-top: 1%;
    margin-left: 20%;
}

#service{
    width: 90%;
    min-height: 20%;
    color: white;
    text-align: center;
    margin: 5% auto;
    border-radius: 5px;
    padding: 5% 5% 4% 5%;
    background-color: rgba(3, 19, 72, .7);
}

#bigHeader{
    color: rgb(255, 255, 255);
    padding: 0%;
    letter-spacing: 2px;
    margin: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

#headerWord{
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#line{
    width: 40px;
    height: 5px;
    margin: auto;
    background-color: rgba(255, 255, 255);
}

#offer1{
    display: inline-block;
    margin: 4% 2%;
    color: rgba(3, 19, 72, .7);
    box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.4);
    background-color: #fff;
    padding: 3%;
    border-radius: 10px;
    width: 250px;
    transition: .4s ease;
    cursor: pointer;
}

#offer1:hover{
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.4);
}

#services{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 2, 63);
    letter-spacing: 1.5px;
}
#word2{
    /* color: black; */
    font-family: Calibri;
    font-weight: bold;
}

#contact{
    background :  rgba(255, 255, 255, 0.6);
    padding: 5% 0% 5% 0%;
    margin: 0% 1%;
    border-radius: 10px;
    color: rgb(0, 2, 63);
}

#contactDiv1 > fieldset{
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    margin-left: 5%;
    display: inline-block;
}

#contactDiv1{
    display: inline-table;
}

#contactDiv{
    display: inline-table;
    /* float: right; */
    margin: 10%; 
    /* padding: 5%; */
}

#contactDiv div{
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

#contactDiv div:nth-child(1){
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif, serif;
}

#messageForm form input, textarea{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 35px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    margin: 1.5% 0%;
}

#messageForm form input:nth-child(1){
    margin-top: 40px;
}

textarea{
    height: 110px;
}

legend{
    text-transform: uppercase;
    text-align: center;
    padding: 6px;
    font-size:29px;
}

[type='submit']{
    margin: 4% 35% ;
    /* letter-spacing: 1px; */
    padding: 10px;
    font-family: Arial, Helvetic, sans-serif;
    border-radius: 5px;
    outline: none;
    font-size: 17px;
    border:none;
    transition: 1s ease-in-out ;
    background-color: rgb(0, 2, 63);
    color: rgb(255, 255, 255);
}

[type='submit']:hover{
    color: rgb(0, 2, 63);
    border: 1px solid rgb(0, 2, 63);
    background-color: transparent;
}

fieldset{
    border-radius: 10px;
    padding: 0% 12%;
}

.social{
    /* position: absolute; */
    list-style-type: none;
    margin-left: 43%;
    display: inline-flex;
}

.social li a{
    background-color: #f1f1f1;
    display: block;
    text-align: center;
    margin: 10px 3px;
    border-radius: 50%;
    padding: 5px;
    text-decoration: none;
    width: 34px;
    height: 34px;
    font-size: 18px;
    background: linear-gradient(0deg, #ddd, #fff);
    transition: 0.4s;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.social li a .fa{
    width: 100%;
    background: linear-gradient(0deg, rgb(255, 255, 255), #ddd);
    height: 100%;
    background-color: #ff0;
    border-radius: 50%;
    line-height: calc(34px - 5px);
    color: #262626;
    transition: 0.9s;
}

.social li a:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    
}
.social li:nth-child(1) a:hover .fa{
    color: #3b5998;
}

.social li:nth-child(2) a:hover .fa{
    color: #00aced;
}

.social li:nth-child(3) a:hover .fa{
    color: #007bb6;
}

.social li:nth-child(4) a:hover .fa{
    color: #bc2a8d;
}

.social li:nth-child(5) a:hover .fa{
    color: purple;
}



@media (max-width:750px){
    #bg{
        filter:opacity(.7);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }   

    #myName{
        margin-left: 10px;
        
        font-size: 27px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    #im{
        /* text-transform: uppercase; */
        font: 20px Tahoma;
    }

    #welcome{
        margin: 0;
        font-family: Tahoma;
        font-size: 25px;
        padding: 0%;
    }
   
    #intro1{
        color:#ffffff;
        font-size: 10px;
        margin-top: 10%;
    }

    #task{
        font-size: 10px;
    }

    #about{
        padding-bottom: 3%;
        padding-left: 2%;
        background-color: rgba(3, 19, 72, .7);
        padding-top: 2%;
        margin: 2%; 
        /* text-align: center; */
    }
    
    #intr #img{
        margin-left: 20%;
        justify-self: center;
        width: 60%;
        /* padding-top: 5%; */
        height: 60%;
    }
    
    #img img{
        width:100%;
        height: 150%;
    }

    #name{
        font-size:20px;
        margin-left: 27%;
    }

    /* #navLIst{
        margin-top: 29px;
    } */

    /* #navList h2{
        margin: 0px;
        margin-right: 30px;
    } */
    
    #contactDiv1 > fieldset{
        width: 90%;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1%;
        margin-left: 5%;
        display: inline-block;
    }

    #skills{
        background :  transparent;
        padding: 0% 0% 0% 7%;
        margin: 10%;
        border-radius: 10px;
        background-size: 100%;
        text-align: center;
    }
    
    #skillWord{
        display: block;
        width: 90%;
        margin-top: 12%;
        border-radius: 10px;
        color: rgba(1, 11, 43);
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    #SkillWordDiv{
        border-bottom: 2px solid rgb(0, 2, 63);
        font-size: 26px;
        font-family: monospace;
    }
    
    #skillsName{
        font-family: sans-serif;
        /* margin: 1.5%; */
        text-align: center;
        /* margin-left: 100%; */
        /* font-family: 'Times New Roman', Times, serif; */
        text-transform: uppercase;
        font-size: 16px;
    }
    
    #skillsName b{
        padding-right: 35%;
        margin: auto;
        color: rgba(3, 19, 72);
        letter-spacing: 2px;
        font-family: monospace;
    }
    
    #progress{
        width: 70%;
        height: 18px;
        margin-bottom: 4%;
        color: rgba(3, 19, 72, .7);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 30px;
    }
    
    #percent{
        width: 100%;
        height: 100%;
        background: rgba(3, 19, 72);
        font-weight: lighter;
        color: rgb(255, 255, 255);
        text-align: center;
        line-height: 18px;
        border-radius: 30px;
    }
    
    #SKILL{
        display:block;
        /* margin-left: 76%; */
        text-align: center;
        margin-top: 2%;
        margin-left: 5%;
    }
/* 
    nav.scrolled{
        display:none;
    } */
    
    .social{
        list-style-type: none;
        margin-left: 20%;
        display: inline-flex;
    }

    #aboutDiv{
        display: inline-block;
        margin-top:2%;
        /* text-align: center; */
        /* margin-left: 22%; */
    }
    #aboutDiv1{
        display: block;
        margin-top: 7%;
        /* float: right; */
        background-color: rgba(3, 19, 72, .7);
        margin-right:2%;
        text-align: center;
        width: 97%;
        color: rgba(255, 255, 255, 0.9);
        border-radius: 12px 0;
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.9);
        padding: 1%;
    }

    #nav{
        overflow: visible;
    }

    
    #navList{
        /* display: block; */
        /* float: right; */
        padding-left:25%;
        list-style: none;
        font-size: 10px;
        line-height: 10vh;
    }

    #navList li a{
        display: inline-flex;
    }
    
    #profile{
        /* display: none; */
        font-size: 10px;
        color: rgb(255, 255, 255);
        /* display: inline-block; */
        font-family: tahoma;
        margin-right: 0%;
    }
    #contactDiv div{
        margin: 2%;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        font-size: 14px;
    }
    #contactDiv{
        display: block;
        float: right;
        margin: 4% 8% 4% 0px; 
        /* padding: 5%; */
    }

    #messageForm form input, textarea{
        height: 7%;
        padding: 1.7%;
    }
    
    #messageForm form input:nth-child(1){
        margin-top: 7%;
    }
    
    textarea{
        height: 110px;
    }
    
    legend{
        text-transform: uppercase;
        text-align: center;
        /* padding: %; */
        font-size: 16px;
    }
    
    [type='submit']{
        margin: 2% 35% 4% 35% ;
        /* letter-spacing: 1px; */
        /* padding: 3%; */
        font-size: 10px;
    }
    td{
        display: block;
    }
}
